<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1 style="text-align: center">Update a School</h1>
        <form class="" enctype="multipart/form-data" action="/submitUpdate" method="post">
          <div class="form-group">
            <label for="school_name">Image: </label>
            <input class="form-control" type="file" name="image" value="">
            <input type="hidden" name="name" value="<%= school.name_field %>">
          </div>
          <div class="form-group">
            <label for="school_name">Name: </label>
            <input class="form-control" id="school_name" type="text" name="name_field" value=<%= school.name_field %>>
          </div>
          <div class="form-group">
            <label for="about">About: </label>
            <textarea class="form-control" id="about" rows="5" name="about_field"><%= school.about_field %></textarea>
          </div>
          <div class="form-group">
            <label for="location">Location: </label>
            <textarea class="form-control" id="location" rows="5"name="location_field"><%= school.location_field %></textarea>
          </div>
          <div class="form-group">
            <label for="admissions">Admissions: </label>
            <textarea class="form-control" id="admissions" rows="5" name="admissions_field"><%= school.location_field %></textarea>
          </div>
          <div style="text-align: center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
